@forward "./icons";
@forward "./icons-cards";

/// Icon path
/// @type String
$icons-path: "../fonts/" !default;

// TODO: move to own package
@font-face {
  font-family: hxui;
  src: url("#{$icons-path}hxui.ttf?p8mryv") format("truetype"), url("#{$icons-path}hxui.woff?p8mryv") format("woff"),
    url("#{$icons-path}hxui.svg?p8mryv#hxui") format("svg");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
