///////////////
//  BULLETS  //
///////////////

@use "sass:color";

@use "../../variables" as *;
@use "../../functions/color" as c;
@use "../../functions/spacing";
@use "../../functions/size";

@use "../../mixins/deprecate" as *;

.#{$namespace}-bullet-list {
  list-style: none;
  margin-top: 0;
  padding: 0 0 0 spacing.rem(8);
  display: flex;
  flex-direction: column;
  gap: spacing.rem(2);

  :where(li) {
    margin: 0;
    display: flex;
    color: var(--color-foreground-default);
    font: var(--b0);
    position: relative;

    &::before {
      content: "";
      position: absolute;
      left: -1 * size.rem(24);
      top: size.rem(8);
      width: size.rem(8);
      height: size.rem(8);
      border-radius: 100%;
      background-color: var(--color-foreground-subdued);
    }

    &.success {
      &::before {
        background-color: var(--color-foreground-success);
      }
    }

    &.warning {
      &::before {
        background-color: var(--color-foreground-warning);
      }
    }

    &.danger {
      &::before {
        background-color: var(--color-foreground-danger);
      }
    }

    &.info {
      &::before {
        background-color: var(--color-foreground-info);
      }
    }
  }

  ////////////////
  //  Variants  //
  ////////////////

  /// STATUS
  &:is(.status) {
    :where(li) {
      flex-direction: column;

      &::before {
        left: -1 * size.px(32);
        top: size.rem(4);
        width: size.rem(16);
        height: size.rem(16);
      }
    }

    .unchecked {
      &::before {
        outline-width: 2px;
        outline-style: solid;
        outline-offset: -2px;
        /* stylelint-disable-next-line declaration-block-no-redundant-longhand-properties */
        outline-color: var(--color-foreground-subdued);
        background-color: transparent;
      }

      &.success {
        &::before {
          outline-color: var(--color-foreground-success);
        }
      }

      &.warning {
        &::before {
          outline-color: var(--color-foreground-warning);
        }
      }

      &.danger {
        &::before {
          outline-color: var(--color-foreground-danger);
        }
      }

      &.info {
        &::before {
          outline-color: var(--color-foreground-info);
        }
      }
    }

    .checked {
      &::before {
        content: "\E90F";
        font-family: hxui;
        font-size: size.rem(22); // MAGIC
        text-indent: -1 * size.rem(3); // MAGIC
        color: var(--color-foreground-contrast);
        line-height: size.rem(16);
        width: size.rem(16);
        height: size.rem(16);
        border-radius: 100%;
      }
    }
  }

  /// JOINED
  &:where(.status).joined {
    gap: spacing.rem(4);

    :where(li) {
      gap: spacing.rem(2);

      &:not(:last-child)::after {
        content: "";
        position: absolute;
        top: size.rem(24);
        left: -1 * size.rem(24);
        bottom: -1 * size.rem(16);
        width: 1px;
        background-color: var(--color-foreground-subdued);
      }

      &.success::after {
        background-color: var(--color-foreground-success);
      }

      &.warning::after {
        background-color: var(--color-foreground-warning);
      }

      &.danger::after {
        background-color: var(--color-foreground-danger);
      }

      &.info::before {
        border-color: var(--color-foreground-info);
      }

      @include deprecate("2.0.0", "Use product typogaphy") {
        .#{$namespace}-title {
          font-size: 1rem;
          font-weight: $hx-font-weight-bolder;
          margin-bottom: 0.5rem;

          .#{$namespace}-icon {
            font-size: 1rem;
          }
        }

        .#{$namespace}-group {
          margin-bottom: 0.5rem;

          p {
            font-size: 0.85rem;
            margin: 0;
          }
        }
      }
    }
  }

  /// OUTLINED
  &.outlined {
    :where(li) {
      &::before {
        background-color: var(--color-surface-neutral-muted);
      }

      &.success::before {
        background-color: var(--color-surface-success-muted);
      }

      &.warning::before {
        background-color: var(--color-surface-warning-muted);
      }

      &.danger::before {
        background-color: var(--color-surface-danger-muted);
      }

      &.info::before {
        background-color: var(--color-surface-info-muted);
      }
    }

    .checked {
      &::before {
        outline-width: 2px;
        outline-style: solid;
        outline-offset: -2px;
        /* stylelint-disable-next-line declaration-block-no-redundant-longhand-properties */
        outline-color: var(--color-foreground-subdued);
        color: var(--color-foreground-subdued);
      }

      &.success::before {
        outline-color: var(--color-foreground-success);
        color: var(--color-foreground-success);
      }

      &.warning::before {
        outline-color: var(--color-foreground-warning);
        color: var(--color-foreground-warning);
      }

      &.danger::before {
        outline-color: var(--color-foreground-danger);
        color: var(--color-foreground-danger);
      }

      &.info::before {
        outline-color: var(--color-foreground-info);
        color: var(--color-foreground-info);
      }
    }
  }

  @include deprecate("2.0.0", "Use .outlined") {
    &.outlined.bordered {
      :where(li) {
        &::before {
          border: 1px solid $hx-color-gray-lightest;
        }

        &.success:not(.unchecked) {
          &::before {
            border-color: rgba($hx-color-success, 0.3);
          }
        }

        &.warning:not(.unchecked) {
          &::before {
            border-color: rgba($hx-color-warning, 0.3);
          }
        }

        &.danger:not(.unchecked) {
          &::before {
            border-color: rgba($hx-color-danger, 0.3);
          }
        }

        &.info:not(.unchecked) {
          &::before {
            border-color: rgba($hx-color-info, 0.3);
          }
        }
      }
    }
  }

  /// ARRANGEMENT
  &.horizontal:not(.joined) {
    flex-direction: row;
    margin: 0;
    gap: size.px(32);

    :where(li) {
      &:has(+ li) {
        margin: 0 size.rem(16) 0 0;
      }
    }
  }
}
