# Dependency directories
node_modules

# Logs
logs
*.log
npm-debug.log*

# Nuxt.js build / generate output
.nuxt
dist
static/static/css

# IntelliJ project files 
*.iml
*.iws
*.ipr
.idea/

# VSCode
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json

# Coverage directory used by tools like istanbul
coverage
*.lcov

# Output of 'npm pack'
*.tgz

# dotenv environment variable files
.env
.env.development.local
.env.test.local
.env.production.local
.env.local

# Optional eslint cache
.eslintcache
.stylelintcache

# other
sh.exe.stackdump
.DS_Store