// Functions
@import 'utilities/functions';

// Themes/Variables
@import 'variables';

// Mixins
@import 'utilities/mixins/center';
@import 'utilities/mixins/unselectable';
@import 'utilities/mixins/delete';
@import 'utilities/mixins/arrow';
@import 'utilities/mixins/loader';
@import 'utilities/mixins/overlay';
@import 'utilities/mixins/control';
@import 'utilities/mixins/placeholder';
@import 'utilities/mixins/border-radius';
@import 'utilities/mixins/box-shadow';
@import 'utilities/mixins/hover';
@import 'utilities/mixins/gradient';
@import 'utilities/mixins/responsiveness';
@import 'utilities/mixins/hover';
@import 'utilities/mixins/nav-divider';
@import 'utilities/mixins/transition';
@import 'utilities/mixins/clearfix';
@import 'utilities/mixins/content';
@import 'utilities/mixins/icons';
@import 'utilities/mixins/text-truncate';

html {
  box-sizing: border-box;
  font-family: sans-serif;
  line-height: 1.15;

  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -ms-overflow-style: scrollbar;
  -webkit-tap-highlight-color: rgba(0,0,0,0);
  &.#{$hxui-reset} {
    font-size: 16px;
  }
}

@font-face {
  font-family: 'hxui';
  src:  url('#{$icons-path}hxui.eot');
  src:  url('#{$icons-path}hxui.eot#iefix') format('embedded-opentype'),
    url('#{$icons-path}hxui.ttf') format('truetype'),
    url('#{$icons-path}hxui.woff') format('woff'),
    url('#{$icons-path}hxui.svg?#hxui') format('svg');
  font-weight: normal;
  font-style: normal;
}

.#{$hxui-reset} {

display: flex;
flex-direction: column;
width: 100%;
font-size: .92rem;


// Font
@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,700');

// Utilities
@import 'utilities/flexbox';
@import 'utilities/helpers';
@import 'utilities/scrollable';
@import 'utilities/text';
// Core Styles
@import 'base/base';
@import 'base/code';
@import 'base/colors';
@import 'base/content';
@import 'base/image';
@import 'base/table';
// icons
@import 'components/icon';
@import 'components/icons';
// Components
@import 'components/accordions';
@import 'components/alerts';
@import 'components/avatars';
@import 'components/badge';
@import 'components/breadcrumb';
@import 'components/button';
@import 'components/card';
@import 'components/dropdown';
@import 'components/form';
@import 'components/grid';
@import 'components/lists';
@import 'components/modal';
@import 'components/nav';
@import 'components/navbar';
@import 'components/pagination';
@import 'components/progress-timeline';
@import 'components/snackbar';
@import 'components/steppers';
@import 'components/tab';
@import 'components/toggle';
@import 'components/tooltip';
@import 'components/toolbar';
// layouts
@import 'layouts/container';
@import 'layouts/field';
@import 'layouts/page';
@import 'layouts/section';
@import 'layouts/sidebar';
@import 'layouts/dividers';

}
