//////////////
//  ALERTS  //
//////////////

.#{$namespace}-alert {
  background-color: #333;
  border-radius: 2px;
  padding: 1.25rem 1.5rem;
  margin-bottom: 1rem;
  font-weight: 400;
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.3);
  color: $hx-color-white;
  display: flex;
  align-items: center;

  &.is-small {
    padding: 0.3rem 0.75rem;
  }

  .#{$namespace}-icon {
    text-shadow: none;
    color: rgba(255, 255, 255, 0.3);
  }

  &.is-info {
    background-color: $hx-color-info;
    color: $hx-color-white;
    .#{$namespace}-icon {
      color: rgba(255, 255, 255, 0.3);
    }
  }

  &.is-success {
    background-color: $hx-color-primary;
    color: $hx-color-white;
    .#{$namespace}-icon {
      color: rgba(0, 0, 0, 0.3);
    }
  }

  &.is-warning {
    background-color: #f6a904;
    color: $hx-color-white;
    .#{$namespace}-icon {
      color: rgba(0, 0, 0, 0.3);
    }
  }

  &.is-danger {
    background-color: #b81e4f;
    color: $hx-color-white;
    .#{$namespace}-icon {
      color: rgba(0, 0, 0, 0.3);
    }
  }

  /* stylelint-disable no-descending-specificity */
  &.is-inverse {
    background-color: $hx-color-gray-lightest;
    color: $hx-color-gray-dark;
    text-shadow: none;

    a {
      color: shade($hx-color-gray-dark, 10%);
      text-decoration: none;
      border-bottom: 1px solid $hx-color-gray-dark;
      border-bottom-color: $hx-color-gray-dark;
      transition: 0.3s;

      &:hover {
        color: $hx-color-gray;
        border-bottom-color: transparent;
      }
    }
    .#{$namespace}-icon {
      color: $hx-color-gray-dark;
    }

    &.is-info {
      background-color: tint($hx-color-info, 85%);
      color: shade($hx-color-info, 10%);

      a {
        color: shade($hx-color-info, 10%);
        border-bottom-color: shade($hx-color-info, 10%);

        &:hover {
          color: $hx-color-gray;
          border-bottom-color: transparent;
        }
      }

      .#{$namespace}-icon {
        color: shade($hx-color-info, 10%);
      }
    }

    &.is-success {
      background-color: tint($hx-color-success, 85%);
      color: shade($hx-color-success, 10%);

      a {
        color: shade($hx-color-success, 10%);
        border-bottom-color: shade($hx-color-success, 10%);

        &:hover {
          color: $hx-color-gray;
          border-bottom-color: transparent;
        }
      }

      .#{$namespace}-icon {
        color: shade($hx-color-success, 10%);
      }
    }

    &.is-warning {
      background-color: tint($hx-color-warning, 85%);
      color: shade($hx-color-warning, 10%);

      a {
        color: shade($hx-color-warning, 10%);
        border-bottom-color: shade($hx-color-warning, 10%);

        &:hover {
          color: $hx-color-gray;
          border-bottom-color: transparent;
        }
      }

      .#{$namespace}-icon {
        color: shade($hx-color-warning, 10%);
      }
    }

    &.is-danger {
      background-color: tint($hx-color-danger, 85%);
      color: shade($hx-color-danger, 10%);

      a {
        color: shade($hx-color-danger, 10%);
        border-bottom-color: shade($hx-color-danger, 10%);

        &:hover {
          color: $hx-color-gray;
          border-bottom-color: transparent;
        }
      }

      .#{$namespace}-icon {
        color: shade($hx-color-danger, 10%);
      }
    }
    /* stylelint-enable no-descending-specificity */

    &.is-bordered {
      border: 1px solid rgba($hx-color-dark, 0.3);

      &.is-info {
        border-color: rgba($hx-color-info, 0.3);
      }

      &.is-success {
        border-color: rgba($hx-color-success, 0.3);
      }

      &.is-warning {
        border-color: rgba($hx-color-warning, 0.3);
      }

      &.is-danger {
        border-color: rgba($hx-color-danger, 0.3);
      }
    }
  }

  &.is-float {
    position: fixed;
    top: 1rem;
    right: 1rem;
    width: 25rem;
    box-shadow: 0 0 0 1px rgba($hx-color-white, 0.1), 0 0 1rem 0 rgba(#333, 0.5), 0 0 3rem rgba(#333, 0.4);

    &.is-success {
      box-shadow: 0 0 0 1px rgba($hx-color-white, 0.1), 0 0 1rem 0 rgba($hx-color-primary, 0.5),
        0 0 3rem rgba($hx-color-primary, 0.4);
    }

    &.is-warning {
      box-shadow: 0 0 0 1px rgba($hx-color-white, 0.1), 0 0 1rem 0 rgba(#f6a904, 0.5), 0 0 3rem rgba(#f6a904, 0.4);
    }

    &.is-danger {
      box-shadow: 0 0 0 1px rgba($hx-color-white, 0.1), 0 0 1rem 0 rgba(#b81e4f, 0.5), 0 0 3rem rgba(#b81e4f, 0.4);
    }
  }
}
