///////////////////
//  BREADCRUMBS  //
///////////////////

@use "../variables" as *;

.#{$namespace}-breadcrumb {
  list-style: none;

  > li {
    display: inline;

    &.#{$namespace}-breadcrumb-divider {
      padding: 0 0.75rem;
      color: $hx-color-gray-lighter;

      .#{$namespace}-icon {
        font-size: 1rem;
        height: auto;
        line-height: 1;

        &::before {
          position: relative;
          top: 2px;
        }
      }
    }

    &.is-disabled {
      > a {
        color: $hx-color-gray-lighter;
      }
    }

    a {
      &:hover {
        text-decoration: none;
      }
    }
  }
}
