////////////////
//  DROPDOWN  //
////////////////

@use "../variables" as *;
@use "../mixins/text";
@use "../mixins/state";
@use "../mixins/nav-divider" as *;

// The dropdown wrapper (`<div>`)
.is-dropup,
.dropup,
.#{$namespace}-dropdown {
  position: relative;
}

.is-dropup,
.dropup {
  .#{$namespace}-btn-dropdown {
    &::after {
      border-top: 0;
      border-bottom: $hx-caret-width solid;
    }
  }
}

.#{$namespace}-dropdown {
  display: inline-block;
}

// The dropdown menu
.#{$namespace}-dropdown-menu {
  position: absolute;
  top: 100%;
  left: 0;
  z-index: $hx-zindex-dropdown;
  display: none; // none by default, but block on "open" of the menu
  min-width: 160px;
  padding: 5px 0;
  margin: 0; // override default ul
  font-size: $hx-font-size-base;
  color: $hx-color-gray;
  text-align: left; // Ensures proper alignment if parent has it changed (e.g., modal footer)
  list-style: none;
  background-color: $hx-dropdown-bg;
  background-clip: padding-box;
  border: $hx-dropdown-border-width solid $hx-dropdown-border-color;
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.145);
  overflow-y: auto;

  &.has-limited-width {
    max-width: 20rem;
  }

  &.has-limited-height {
    overflow-y: auto;
    max-height: 20rem;
  }

  &.is-text-ellipsed {
    .#{$namespace}-dropdown-item {
      @include text.truncate;
    }
  }

  &.is-text-multiline {
    .#{$namespace}-dropdown-item {
      @include text.multiline;
    }
  }
}

// CDK specific
.hxa-dropdown-panel {
  .#{$namespace}-dropdown-menu {
    position: initial;
  }

  &.is-fluid-min-width {
    .#{$namespace}-dropdown-menu {
      min-width: 100%;
    }
  }
  &.is-open > .#{$namespace}-dropdown-menu {
    display: block;
  }
}

// Dividers (basically an `<hr>`) within the dropdown
.#{$namespace}-dropdown-divider {
  @include nav-divider($hx-dropdown-divider-bg);
}

// Links, buttons, and more within the dropdown menu
// `<button>`-specific styles are denoted with `// For <button>s`
.#{$namespace}-dropdown-item {
  display: block;
  width: 100%; // For `<button>`s
  padding: 0.3rem 1rem;
  clear: both;
  font-weight: normal;
  line-height: $hx-line-height;
  color: $hx-dropdown-link-color;
  text-align: inherit; // For `<button>`s
  white-space: nowrap; // prevent links from randomly breaking onto new lines
  background: none; // For `<button>`s
  border: 0; // For `<button>`s

  @include state.hover-focus {
    color: $hx-dropdown-link-hover-color;
    text-decoration: none;
    background-color: $hx-dropdown-link-hover-bg;
  }

  // Active state
  &.active {
    @include state.plain-hover-focus {
      color: $hx-dropdown-link-active-color;
      text-decoration: none;
      background-color: $hx-dropdown-link-active-bg;
      outline: 0;
    }
  }

  &.is-active {
    @include state.plain-hover-focus {
      color: $hx-dropdown-link-active-bg;
      text-decoration: none;
      background-color: $hx-dropdown-link-active-color;
      outline: 0;
    }
  }

  // temporary for Helix clashing with bootstrap
  button.#{$namespace}-button.is-link {
    text-decoration: none;
    text-align: left;
    padding: 0;
    width: 100%;
    justify-content: flex-start;

    @include state.hover-focus {
      color: $hx-dropdown-link-hover-color;
      text-decoration: none;
      background-color: transparent;
    }
  }

  // DISABLED STATE
  // Gray out text and ensure the hover/focus state remains gray
  &.disabled {
    @include state.plain-hover-focus {
      color: $hx-dropdown-link-disabled-color;
    }

    // Nuke hover/focus effects
    @include state.hover-focus {
      text-decoration: none;
      cursor: $hx-cursor-disabled;
      background-color: transparent;
      background-image: none; // Remove CSS gradient
    }
  }
}

// Iconised dropdown item
.#{$namespace}-dropdown-icon {
  .#{$namespace}-dropdown-item {
    padding-left: 2.8rem;
    position: relative;
    display: flex;
    align-items: center;
  }

  // icons
  i.icon,
  i.#{$namespace}-icon {
    position: absolute;
    left: 0.76rem;
    top: 0.2rem;
  }
}

// Open state for the dropdown
.is-open,
.open {
  // Show the menu
  > .#{$namespace}-dropdown-menu {
    display: block;
  }

  // Remove the outline when :focus is triggered
  > a {
    outline: 0;
  }
}

// Menu positioning
.is-right {
  .#{$namespace}-dropdown-menu {
    position: absolute;
    right: 0;
    left: auto;
  }
}

.is-left {
  .#{$namespace}-dropdown-menu {
    position: absolute;
    right: auto;
    left: 0;
  }
}

// Dropdown section headers
.#{$namespace}-dropdown-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 6px 14px;
  font-size: 0.675rem;
  color: $hx-dropdown-header-color;
  white-space: nowrap; // as with > li > a
  text-transform: uppercase;
  font-weight: bold;

  > a {
    font-weight: normal;
    text-transform: capitalize;
  }
}

// Backdrop to catch body clicks on mobile, etc.
.#{$namespace}-dropdown-backdrop {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: ($hx-zindex-dropdown - 10);
}

// Allow for dropdowns to go bottom up (aka, is-dropup)
// Just add .hx-dropup after the standard .hx-dropdown class and you're set.
.is-dropup,
.#{$namespace}-dropup {
  // Reverse the caret
  .caret {
    content: "";
    border-top: 0;
    border-bottom: $hx-caret-width solid;
  }

  // Different positioning for bottom up menu
  .#{$namespace}-dropdown-menu {
    position: absolute;
    top: auto;
    bottom: 100%;
    margin-bottom: 2px;
  }
}
