////////////////
//  SNACKBAR  //
////////////////

@use "../variables" as *;

.#{$namespace}-snackbar {
  position: fixed;
  bottom: 0;
  left: 50%;
  transition: 0.3s;
  transform: translate3d(-50%, 100%, 0);
  opacity: 0;
  min-width: 288px;

  &.is-absolute {
    position: absolute;
  }

  &.is-top {
    top: 0;
    transform: translate3d(-50%, -100%, 0);
    bottom: auto;
  }

  &.is-right {
    padding: 0.5rem;
    right: 0;
    left: auto;
    transform: translate3d(0%, 100%, 0);

    &.is-top {
      transform: translate3d(0%, -100%, 0);
    }
  }

  &.is-left {
    padding: 0.5rem;
    left: 0;
    transform: translate3d(0%, 100%, 0);

    &.is-top {
      transform: translate3d(0%, -100%, 0);
    }
  }

  &.is-active {
    transform: translate3d(-50%, 0, 0);
    opacity: 1;

    &.is-right,
    &.is-left {
      transform: translate3d(0, 0, 0);
    }
  }

  &-content {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 1.5rem;
    background: rgba(0, 0, 0, 0.8);
    box-shadow: 0 0 2rem 0.5rem rgba(0, 0, 0, 0.2);
    color: white;
    font-weight: 400;
    min-width: 18rem;
    max-width: 35.5rem;
    border-radius: $hx-border-radius-sm;

    .#{$namespace}-button {
      margin: 0 0 0 3rem;
    }
  }

  &.is-success {
    .#{$namespace}-snackbar-content {
      background-color: $hx-color-success;
      color: $hx-color-success-invert;
    }
  }

  &.is-info {
    .#{$namespace}-snackbar-content {
      background-color: $hx-color-info;
      color: $hx-color-success-invert;
    }
  }

  &.is-warning {
    .#{$namespace}-snackbar-content {
      background-color: $hx-color-warning;
      color: $hx-color-warning-invert;
    }
  }

  &.is-error {
    .#{$namespace}-snackbar-content {
      background-color: $hx-color-danger;
    }
  }
}
