////////////
//  TABS  //
////////////

@use "../variables" as *;

.#{$namespace}-nav-tabs {
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);

  .#{$namespace}-nav-link {
    border-bottom: 1px solid transparent;
    border-radius: 0;
    transition: 0.3s;

    &:hover {
      box-shadow: 0 1px 0 0 $hx-color-gray-lighter;
    }

    &.is-active {
      background-color: transparent;
      box-shadow: 0 1px 0 0 $hx-color-green-light;
      border-bottom: 1px solid $hx-color-green-light;
    }
  }

  &.is-justified {
    .#{$namespace}-nav-item,
    .#{$namespace}-nav-link {
      display: block;
      flex-grow: 1;
    }
  }

  &.has-info {
    .#{$namespace}-nav-link {
      .#{$namespace}-columns {
        border-top: 1px solid rgba(0, 0, 0, 0.1);
        color: #555;
        transition: 0.3s ease-in-out;

        > * {
          padding-top: 0.5rem;
          justify-content: center;
          opacity: 0.75;
        }
      }

      &:hover {
        .#{$namespace}-columns {
          border-top: 1px solid rgba(0, 0, 0, 0.3);
        }
      }
    }
  }
}

// Hide tabbable panes to start, show them when `.is-active`
.#{$namespace}-tab-content {
  padding: $hx-spacer;

  > .#{$namespace}-tab-pane {
    display: none;
  }

  > .is-active {
    display: block;
  }
}
