/* stylelint-disable selector-class-pattern */
/////////////
// DISPLAY //
/////////////

@use "../variables" as *;
@use "../mixins/position";
@use "../mixins/breakpoint";

///////////
// Float //
///////////

.is-clearfix {
  &::after {
    clear: both;
    content: " ";
    display: table;
  }
}

.is-pulled-left {
  float: left;
}

.is-pulled-right {
  float: right;
}

//////////////
// Overflow //
//////////////

.is-clipped {
  overflow: hidden !important;
}

/////////////
// Display //
/////////////

.is-overlay {
  @include position.overlay;
}

.is-vertical-align-bottom {
  vertical-align: bottom !important;
}

.is-vertical-align-top {
  vertical-align: top !important;
}

.is-vertical-align-middle {
  vertical-align: middle !important;
}

$displays: "block" "flex" "inline" "inline-block" "inline-flex" "contents" "grid" "inline-grid";

@each $display in $displays {
  .is-#{$display},
  .\!#{$display} {
    display: #{$display} !important;
  }

  .#{$display} {
    display: #{$display};
  }

  .is-#{$display}-mobile,
  .mobile\:\!#{$display} {
    @include breakpoint.mobile {
      display: #{$display} !important;
    }
  }

  .mobile\:#{$display} {
    @include breakpoint.mobile {
      display: #{$display};
    }
  }

  .is-#{$display}-tablet,
  .tablet\:\!#{$display} {
    @include breakpoint.tablet {
      display: #{$display} !important;
    }
  }

  .tablet\:#{$display} {
    @include breakpoint.tablet {
      display: #{$display};
    }
  }

  .is-#{$display}-desktop,
  .desktop\:\!#{$display} {
    @include breakpoint.desktop {
      display: #{$display} !important;
    }
  }

  .desktop\:#{$display} {
    @include breakpoint.desktop {
      display: #{$display};
    }
  }

  .is-#{$display}-widescreen,
  .widescreen\:\!#{$display} {
    @include breakpoint.widescreen {
      display: #{$display} !important;
    }
  }

  .widescreen\:#{$display} {
    @include breakpoint.widescreen {
      display: #{$display};
    }
  }

  .is-#{$display}-fullhd,
  .fullhd\:\!#{$display} {
    @include breakpoint.fullhd {
      display: #{$display} !important;
    }
  }

  .fullhd\:#{$display} {
    @include breakpoint.fullhd {
      display: #{$display};
    }
  }
}

////////////////
// Visibility //
////////////////

$hx-lt-desktop: $hx-desktop - 1px;
$hx-lt-widescreen: $hx-widescreen - 1px;
$hx-lt-fullhd: $hx-fullhd - 1px;

.is-hidden,
.hidden {
  display: none;
}

.\!hidden {
  display: none !important;
}

.is-hidden-mobile,
.mobile\:\!hidden {
  @include breakpoint.mobile {
    display: none !important;
  }
}

.mobile\:hidden {
  @include breakpoint.mobile {
    display: none;
  }
}

.is-hidden-tablet,
.tablet\:\!hidden {
  @media screen and (max-width: $hx-lt-desktop) {
    display: none !important;
  }
}

.tablet\:hidden {
  @media screen and (max-width: $hx-lt-desktop) {
    display: none;
  }
}

.is-hidden-desktop,
.desktop\:\!hidden {
  @media screen and (max-width: $hx-lt-widescreen) {
    display: none !important;
  }
}

.desktop\:hidden {
  @media screen and (max-width: $hx-lt-widescreen) {
    display: none;
  }
}

.is-hidden-widescreen,
.widescreen\:\!hidden {
  @media screen and (max-width: $hx-lt-fullhd) {
    display: none !important;
  }
}

.widescreen\:hidden {
  @media screen and (max-width: $hx-lt-fullhd) {
    display: none;
  }
}
