@use "../variables" as *;

@use "../mixins/deprecate" as *;

.#{$namespace}-flex,
.flex {
  display: flex;
}

/* stylelint-disable-next-line selector-class-pattern */
.\!flex {
  display: flex !important;
}

.#{$namespace}-flex-inline,
.flex-inline {
  display: inline-flex;
}

/* stylelint-disable-next-line selector-class-pattern */
.\!flex-inline {
  display: inline-flex !important;
}

.#{$namespace}-flex-row,
.flex-row {
  flex-direction: row;
}

/* stylelint-disable-next-line selector-class-pattern */
.\!flex-row {
  flex-direction: row !important;
}

.#{$namespace}-flex-row-reverse,
.flex-row-reverse {
  flex-direction: row-reverse;
}

/* stylelint-disable-next-line selector-class-pattern */
.\!flex-row-reverse {
  flex-direction: row-reverse !important;
}

.#{$namespace}-flex-column,
.flex-col {
  flex-direction: column;
}

/* stylelint-disable-next-line selector-class-pattern */
.\!flex-col {
  flex-direction: column !important;
}

.#{$namespace}-flex-column-reverse,
.flex-col-reverse {
  flex-direction: column-reverse;
}

/* stylelint-disable-next-line selector-class-pattern */
.\!flex-col-reverse {
  flex-direction: column-reverse !important;
}

.#{$namespace}-flex-wrap,
.flex-wrap {
  flex-wrap: wrap;
}

/* stylelint-disable-next-line selector-class-pattern */
.\!flex-wrap {
  flex-wrap: wrap !important;
}

.#{$namespace}-flex-wrap-reverse,
.flex-wrap-reverse {
  flex-wrap: wrap-reverse;
}

/* stylelint-disable-next-line selector-class-pattern */
.\!flex-wrap-reverse {
  flex-wrap: wrap-reverse !important;
}

.#{$namespace}-flex-auto,
.flex-auto {
  flex: 1 1 auto;
}

/* stylelint-disable-next-line selector-class-pattern */
.\!flex-auto {
  flex: 1 1 auto !important;
}

.#{$namespace}-flex-none,
.\!flex-none {
  flex: none !important;
}

.flex-none {
  flex: none;
}

.#{$namespace}-flex-fill,
.#{$namespace}-flex-1,
.\!grow-1 {
  flex: 1 !important;
}

.grow-1 {
  flex: 1;
}

@include deprecate("3.0.0", "Use .flex-1 or custom css instead") {
  .#{$namespace}-flex-2 {
    flex: 2 !important;
  }

  .#{$namespace}-flex-3 {
    flex: 3 !important;
  }

  .#{$namespace}-flex-4 {
    flex: 4 !important;
  }

  .#{$namespace}-flex-5 {
    flex: 5 !important;
  }

  .#{$namespace}-flex-6 {
    flex: 6 !important;
  }

  .#{$namespace}-flex-7 {
    flex: 7 !important;
  }

  .#{$namespace}-flex-8 {
    flex: 8 !important;
  }

  .#{$namespace}-flex-9 {
    flex: 9 !important;
  }

  .#{$namespace}-flex-10 {
    flex: 10 !important;
  }

  .#{$namespace}-flex-11 {
    flex: 11 !important;
  }

  .#{$namespace}-flex-12 {
    flex: 12 !important;
  }
}

// alignment in cross axis
.#{$namespace}-flex-start,
.items-start {
  align-items: flex-start;
}

/* stylelint-disable-next-line selector-class-pattern */
.\!items-start {
  align-items: flex-start !important;
}

.#{$namespace}-flex-align-center,
.items-center {
  align-items: center;
}

/* stylelint-disable-next-line selector-class-pattern */
.\!items-center {
  align-items: center !important;
}

.#{$namespace}-flex-align-end,
.items-end {
  align-items: flex-end;
}

/* stylelint-disable-next-line selector-class-pattern */
.\!items-end {
  align-items: flex-end !important;
}

.#{$namespace}-flex-align-stretch,
.items-stretch {
  align-items: stretch;
}

/* stylelint-disable-next-line selector-class-pattern */
.\!items-stretch {
  align-items: stretch !important;
}

// alignment in main axis
.#{$namespace}-flex-justify-start,
.justify-start {
  justify-content: flex-start;
}

/* stylelint-disable-next-line selector-class-pattern */
.\!justify-start {
  justify-content: flex-start !important;
}

.#{$namespace}-flex-justify-center,
.justify-center {
  justify-content: center;
}

/* stylelint-disable-next-line selector-class-pattern */
.\!justify-center {
  justify-content: center !important;
}

.#{$namespace}-flex-justify-end,
.justify-end {
  justify-content: flex-end;
}

/* stylelint-disable-next-line selector-class-pattern */
.\!justify-end {
  justify-content: flex-end !important;
}

.#{$namespace}-flex-justify-around,
.justify-around {
  justify-content: space-around;
}

/* stylelint-disable-next-line selector-class-pattern */
.\!justify-around {
  justify-content: space-around !important;
}

.#{$namespace}-flex-justify-between,
.justify-between {
  justify-content: space-between;
}

/* stylelint-disable-next-line selector-class-pattern */
.\!justify-between {
  justify-content: space-between !important;
}

.#{$namespace}-flex-justify-evenly,
.justify-evenly {
  justify-content: space-evenly;
}

/* stylelint-disable-next-line selector-class-pattern */
.\!justify-evenly {
  justify-content: space-evenly !important;
}

// self alignment
.#{$namespace}-flex-align-self-start,
.self-start {
  align-self: flex-start;
}

/* stylelint-disable-next-line selector-class-pattern */
.\!self-start {
  align-self: flex-start !important;
}

.#{$namespace}-flex-align-self-center,
.self-center {
  align-self: center;
}

/* stylelint-disable-next-line selector-class-pattern */
.\!self-center {
  align-self: center !important;
}

.#{$namespace}-flex-align-self-end,
.self-end {
  align-self: flex-end;
}

/* stylelint-disable-next-line selector-class-pattern */
.\!self-end {
  align-self: flex-end !important;
}

.#{$namespace}-flex-align-self-stretch,
.self-stretch {
  align-self: stretch;
}

/* stylelint-disable-next-line selector-class-pattern */
.\!self-stretch {
  align-self: stretch !important;
}

// spacer utility
.#{$namespace}-spacer {
  flex: 1;
}
