//////////
// MISC //
//////////

@use "../mixins/deprecate" as *;

@include deprecate("3.0.0", "Rely on component styling or use custom css") {
  .has-pointer {
    cursor: pointer;
  }

  .is-disabled {
    pointer-events: none;
  }
}

@include deprecate("3.0.0", "Use .m-0") {
  .is-marginless {
    margin: 0 !important;
  }
}

@include deprecate("3.0.0", "Use .p-0") {
  .is-paddingless {
    padding: 0 !important;
  }
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
}
