/// HXUI Reset
/// Based on [modern-normalize.css](https://github.com/sindresorhus/modern-normalize) and [Josh Comeau Css Reset](https://www.joshwcomeau.com/css/custom-css-reset/#the-css-reset)
/// TODO: Add comments like MODIFIED, ADDED or DELETED
/// when making modifications to this file.
///
/// This makes it easier when updating the "base" reset. 😀

@use "./variables" as *;

/*
Document
========
*/

/**
 * Use a better box model (opinionated).
 */

*,
::before,
::after {
  box-sizing: border-box;
}

/**
 * Remove all transitions and animation globally if preferred (HXUI opinion).
 */

@media (prefers-reduced-motion: reduce) {
  *,
  ::before,
  ::after {
    animation-delay: -1ms !important;
    animation-duration: 1ms !important;
    animation-iteration-count: 1 !important;
    background-attachment: initial !important;
    scroll-behavior: auto !important;
    transition-duration: 0s !important;
    transition-delay: 0s !important;
  }
}

/**
 * Use a more readable tab size (opinionated).
 */

html {
  -moz-tab-size: 4;
  tab-size: 4;
}

/**
 * 1. Correct the line height in all browsers.
 * 2. Prevent adjustments of font size after orientation changes in iOS.
 */

/* stylelint-disable-next-line no-duplicate-selectors */
html {
  line-height: 1.5; /* 1 */ /* MODIFIED */
  -webkit-text-size-adjust: 100%; /* 2 */
  -webkit-font-smoothing: antialiased; /* ADDED */
}

/*
 * Create a root stacking context (HXUI opinion)
 */

#{$framework-root} {
  isolation: isolate;
}

/*
Sections
========
*/

/**
 * Remove the margin in all browsers.
 */

* /* MODIFIED */ {
  margin: 0;
}

/**
 * Improve consistency of default fonts in all browsers. (https://github.com/sindresorhus/modern-normalize/issues/3)
 */

/* stylelint-disable-next-line no-duplicate-selectors */
body {
  font-family: var(--font-family-body, system-ui), /* MODIFIED */ -apple-system,
    /* Firefox supports `-apple-system` but not yet `system-ui` */ "Segoe UI", Roboto, Helvetica, Arial, sans-serif,
    "Apple Color Emoji", "Segoe UI Emoji";
  background-color: var(--color-surface-background-default, white); /* ADDED */
  color: var(--color-foreground-default, black); /* ADDED */
}

/**
 * Allow percentage-based heights in the application (HXUI opinion)
 */

html,
body {
  height: 100%;
}

/*
Grouping content
================
*/

/**
 * 1. Add the correct height in Firefox.
 * 2. Correct the inheritance of border color in Firefox. (https://bugzilla.mozilla.org/show_bug.cgi?id=190655)
 */

hr {
  height: 0; /* 1 */
  color: inherit; /* 2 */
}

/**
 * Prevent content from breaking outside the box (HXUI opinion)
 */

pre {
  overflow: auto;
}

/*
Text-level semantics
====================
*/

/**
 * Avoid text overflows (HXUI opinion)
 */
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word; /* ADDED */
}

/**
 * 1. Add the correct text decoration in Chrome, Edge, and Safari.
 */

abbr[title] {
  text-decoration: underline dotted; /* 1 */
}

/**
 * Add the correct font weight in Edge and Safari.
 */

b,
strong {
  font-weight: bolder;
}

/**
 * 1. Improve consistency of default fonts in all browsers. (https://github.com/sindresorhus/modern-normalize/issues/3)
 * 2. Correct the odd 'em' font sizing in all browsers.
 */

code,
kbd,
samp,
pre {
  font-family: ui-monospace, SFMono-Regular, Consolas, "Liberation Mono", Menlo, monospace; /* 1 */
  font-size: 1em; /* 2 */
}

/**
 * Add the correct font size in all browsers.
 */

small {
  font-size: 80%;
}

/**
 * Prevent 'sub' and 'sup' elements from affecting the line height in all browsers.
 */

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

/*
Tabular data
============
*/

/**
 * 1. Remove text indentation from table contents in Chrome and Safari. (https://bugs.chromium.org/p/chromium/issues/detail?id=999088, https://bugs.webkit.org/show_bug.cgi?id=201297)
 * 2. Correct table border color inheritance in all Chrome and Safari. (https://bugs.chromium.org/p/chromium/issues/detail?id=935729, https://bugs.webkit.org/show_bug.cgi?id=195016)
 */

table {
  text-indent: 0; /* 1 */
  border-color: inherit; /* 2 */
  border-collapse: separate; /* ADDED */
  border-spacing: 0; /* ADDED */
}

td,
th {
  padding: 0; /* ADDED */
  text-align: left; /* ADDED */
}

/* 
Embedded content
================ 
*/

/**
 * Improve media defaults (HXUI opinion)
 */

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

/*
Forms
=====
*/

/**
 * Minimally customised focus ring for keyboard input only (HXUI opinion)
 */

*:focus:not(:focus-visible) {
  outline: none; /* ADDED */
}

:focus-visible {
  outline: 2px solid var(--color-action-focus-ring); /* ADDED */
  outline-offset: 2px; /* ADDED */
}

/**
 * 1. Change the font styles in all browsers.
 * 2. Remove the margin in Firefox and Safari.
 */

button,
input,
optgroup,
select,
textarea {
  font-family: inherit; /* 1 */
  font-size: 100%; /* 1 */
  line-height: 1.5; /* 1 */ /* MODIFIED */
  margin: 0; /* 2 */
}

/**
 * Remove the inheritance of text transform in Edge and Firefox.
 * 1. Remove the inheritance of text transform in Firefox.
 */

button,
select {
  /* 1 */
  text-transform: none;
}

/**
 * Correct the inability to style clickable types in iOS and Safari.
 */

button,
[type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button;
}

/**
 *Remove the inner border and padding in Firefox.
 */

::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

/**
 * Restore the focus styles unset by the previous rule.
 */

:-moz-focusring {
  outline: 1px dotted ButtonText;
}

/**
 * Remove the additional ':invalid' styles in Firefox.
 * See: https://github.com/mozilla/gecko-dev/blob/2f9eacd9d3d995c937b4251a5557d95d494c9be1/layout/style/res/forms.css#L728-L737
 */

:-moz-ui-invalid {
  box-shadow: none;
}

/**
 * Remove the padding so developers are not caught out when they zero out 'fieldset' elements in all browsers.
 */

legend {
  padding: 0;
}

/**
 * Add the correct vertical alignment in Chrome and Firefox.
 */

progress {
  vertical-align: baseline;
}

/**
 * Correct the cursor style of increment and decrement buttons in Safari.
 */

::-webkit-inner-spin-button,
::-webkit-outer-spin-button {
  height: auto;
}

/**
 * 1. Correct the odd appearance in Chrome and Safari.
 * 2. Correct the outline style in Safari.
 */

[type="search"] {
  -webkit-appearance: textfield; /* 1 */
  outline-offset: -2px; /* 2 */
}

/**
 * Remove the inner padding in Chrome and Safari on macOS.
 */

::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
 * 1. Correct the inability to style clickable types in iOS and Safari.
 * 2. Change font properties to 'inherit' in Safari.
 */

::-webkit-file-upload-button {
  -webkit-appearance: button; /* 1 */
  font: inherit; /* 2 */
}

/*
Interactive
===========
*/

/*
 * Add the correct display in Chrome and Safari.
 */

summary {
  display: list-item;
}
