///////////////
// CONTAINER //
///////////////

@use "../variables" as *;
@use "../mixins/breakpoint";

.#{$namespace}-container {
  position: relative;

  @include breakpoint.tablet {
    margin: 0 auto;
    width: calc($hx-tablet - 40px);

    // Modifiers
    &.is-fluid {
      margin: 0 20px;
      max-width: none;
      width: auto;
    }
  }

  @include breakpoint.laptop {
    width: calc($hx-laptop - 40px);
  }

  @include breakpoint.desktop {
    width: calc($hx-desktop - 40px);
  }
}

.is-fullscreen {
  position: fixed !important;
  left: 0;
  top: 0;
  height: 100vh;
  width: 100vw;

  > div {
    z-index: 1;
  }
}
