/* stylelint-disable selector-class-pattern */
//////////////////
//  APP LAYOUT  //
//////////////////

@use "../mixins/breakpoint";

.layout-app {
  display: grid;
  grid-template-areas: "main" "nav";
  grid-template-columns: 1fr auto;

  @include breakpoint.mobile {
    height: 100vh;
  }

  @include breakpoint.phablet {
    grid-template-areas: "nav main";
    grid-template-columns: auto 1fr;
  }
}

/// APP - MAIN REGION
.area-app__main {
  grid-area: main;
}

/// APP - PRIMARY NAVIGATION REGION
.area-app__nav {
  grid-area: nav;
}

///////////////////
//  MAIN LAYOUT  //
///////////////////

.layout-main {
  flex: 1 1 0%;
  flex-flow: column nowrap;
  display: flex;
  min-height: 0;
  background-color: var(--color-surface-background-default);
}

.area-main__header {
  display: flex;
  flex-flow: column nowrap;
  flex: 0 0 auto;
}

.area-main__canvas {
  display: flex;
  flex-flow: column nowrap;
  flex-grow: 1;
  overflow-y: auto;
}

/////////////////////
//  CANVAS LAYOUT  //
/////////////////////

/// MAJOR-MINOR (cols)
.layout-canvas__cols-major-minor {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-areas: "canvas-cols-major canvas-cols-major canvas-cols-major canvas-cols-major";
  gap: 1rem;

  @include breakpoint.tablet {
    grid-template-columns: repeat(8, 1fr);
    grid-template-areas: "canvas-cols-major canvas-cols-major canvas-cols-major canvas-cols-major canvas-cols-major canvas-cols-major canvas-cols-major canvas-cols-major";
  }

  @include breakpoint.laptop {
    grid-template-columns: repeat(8, 1fr);
    grid-template-areas: "canvas-cols-major canvas-cols-major canvas-cols-major canvas-cols-major canvas-cols-major canvas-cols-major canvas-cols-minor canvas-cols-minor";
  }

  @include breakpoint.desktop {
    grid-template-columns: repeat(12, 1fr);
    grid-template-areas: ". canvas-cols-major canvas-cols-major canvas-cols-major canvas-cols-major canvas-cols-major canvas-cols-major canvas-cols-major canvas-cols-major canvas-cols-minor canvas-cols-minor .";
  }
}

.area-canvas__cols-major {
  grid-area: canvas-cols-major;
}

.area-canvas__cols-minor {
  grid-area: canvas-cols-minor;
}

/// MAJOR-MINOR (cols)
// .layout-canvas-cols-solo {}

// .layout-canvas-cols-table {}

.area-canvas__solo {
  grid-area: canvas-cols-solo;
}
