// =========
// Page
// =========

@use "../variables" as *;
@use "../mixins/content";
@use "../mixins/gradient";

.#{$namespace}-page {
  display: flex;
  flex-direction: column;
  height: 100vh;
  width: 100vw;

  &-header {
    width: 100%;
    min-height: 1rem;
    background: transparent;
  }

  &-body {
    display: flex;
    flex: 1;
    align-self: stretch;
    min-height: 0;
  }

  .block {
    @include content.block;
  }

  &.has-blue-gradient {
    @include gradient.radial(top, $hx-color-green-light, $hx-color-blue);

    color: #fff;
  }

  &.has-orange-gradient {
    @include gradient.radial(top, $hx-color-yellow-light, $hx-color-orange);
  }

  &.has-purple-gradient {
    @include gradient.radial(top, $hx-color-red-light, $hx-color-purple);
  }
}
