/////////////
// SECTION //
/////////////

@use "../variables" as *;
@use "../mixins/breakpoint";

.#{$namespace}-section {
  flex: 1;
  padding: ($hx-spacer + 0.5);

  .#{$namespace}-section {
    padding-left: 0;
    padding-right: 0;
  }

  &.is-comfortable {
    max-width: 1280px;
    margin: 0 auto;
  }
  @include breakpoint.laptop {
    &.is-medium {
      padding: 5rem 1.5rem;
    }

    &.is-large {
      padding: 14rem 1.5rem;
    }
  }
}
