//////////
// CODE //
//////////

@use "../variables" as *;
@use "../mixins/transition";
@use "../mixins/deprecate" as *;

@include deprecate("3.0.0", "No longer part of HXUI") {
  code {
    padding: 0 2.5rem;

    &:not(.hljs) {
      background-color: rgba(0, 0, 0, 0.05);
      border-radius: 3px;
      padding: 0.1rem 0.5rem;
      color: $hx-color-danger;
    }
  }
}

.#{$namespace}-code {
  max-height: 0;
  display: block;
  overflow: auto;
  margin: 0;
  transition-property: max-height;
  @include transition.propless(300ms);

  &:not(.square) {
    border-radius: 2px;
  }

  &.open,
  &[aria-expanded="true"] {
    max-height: 38rem;
  }

  code {
    display: block;
    overflow-wrap: break-word;
    white-space: pre-wrap;
  }
}
