//////////
// CODE //
//////////

@use "../variables" as *;

@use "../mixins/deprecate" as *;

@include deprecate("3.0.0", "No longer part of HXUI") {
  code {
    padding: 0 2.5rem;

    &:not(.hljs) {
      background-color: rgba(0, 0, 0, 0.05);
      border-radius: 3px;
      padding: 0.1rem 0.5rem;
      color: $hx-color-danger;
    }
  }
}

.#{$namespace}-code {
  max-height: 38rem;
  overflow: auto;
}
