////////////////
// TYPOGRAPHY //
////////////////

@use "sass:color";

@use "../variables" as *;
@use "../mixins/state";

small,
.small {
  :where(.#{$namespace}-prose) &,
  &.#{$namespace}-prose {
    font-size: $hx-small-font-size;
    font-weight: $hx-font-weight-normal;
  }
}

mark,
.mark {
  :where(.#{$namespace}-prose) &,
  &.#{$namespace}-prose {
    padding: $hx-mark-padding;
    background-color: $hx-mark-bg;
  }
}

// Inline
li + li {
  :where(.#{$namespace}-prose) &,
  &.#{$namespace}-prose {
    margin-top: 0.25em;
  }
}

// Block
blockquote {
  :where(.#{$namespace}-prose) &,
  &.#{$namespace}-prose {
    // background-color: $background;
    border-left: 5px solid $hx-border-color;
    padding: 1.25em 1.5em;
  }
}

ol {
  :where(.#{$namespace}-prose) &,
  &.#{$namespace}-prose {
    list-style: decimal outside;
    margin-top: 1em;
  }
}

ul {
  :where(.#{$namespace}-prose) &,
  &.#{$namespace}-prose {
    list-style: disc outside;
    margin-top: 1em;
    padding: 0 1rem;

    ul {
      list-style-type: circle;
      margin-top: 0.5em;

      ul {
        list-style-type: square;
      }
    }
  }
}

dt {
  :where(.#{$namespace}-prose) &,
  &.#{$namespace}-prose {
    font-weight: $hx-font-weight-bold;
    margin-bottom: 0.3rem;
  }
}

dd {
  :where(.#{$namespace}-prose) &,
  &.#{$namespace}-prose {
    margin: 0;
    margin-bottom: 0.3rem;
  }
}

// p,
// ol,
// ul,
// blockquote,
// table {
//   &:not(:last-child) {
//     margin-bottom: 1em;
//   }
// }

// b,
// strong {
//   font-weight: 500;
// }

a {
  &.#{$namespace}-prose {
    background-color: transparent;
    -webkit-text-decoration-skip: objects;
    cursor: pointer;
    color: $hx-link-color;
    text-decoration: $hx-link-decoration;

    @include state.hover {
      color: $hx-link-hover-color;
      text-decoration: $hx-link-hover-decoration;
    }

    &.is-gray {
      color: color.scale($hx-text, $lightness: 30%);

      &:hover {
        color: $hx-text;
        text-decoration: none;
      }
    }
  }
}

h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
  &.#{$namespace}-prose {
    font-family: $hx-headings-font-family;
    font-weight: $hx-headings-font-weight;
    line-height: $hx-headings-line-height;
    letter-spacing: $hx-headings-letter-spacing;
  }
}

h1,
.h1 {
  &.#{$namespace}-prose {
    font-size: $hx-font-size-h1;
    font-weight: $hx-font-weight-bold;
    color: $hx-color-info;
    margin-bottom: 1rem * 1; // no top as h1 should only be used once
  }
}

h2,
.h2 {
  &.#{$namespace}-prose {
    font-size: $hx-font-size-h2;
    margin-top: 1rem * 1.35;
    margin-bottom: 1rem * 0.75;
  }
}

h3,
.h3 {
  &.#{$namespace}-prose {
    font-size: $hx-font-size-h3;
    font-weight: $hx-font-weight-bolder;
    color: $hx-color-info;
    margin-top: 1rem * 1.25;
    margin-bottom: 1rem * 0.5;
  }
}

h4,
.h4 {
  &.#{$namespace}-prose {
    font-size: $hx-font-size-h4;
    font-weight: $hx-font-weight-bold;
    margin-top: 1rem * 1.1;
    margin-bottom: 1rem * 0.35;
  }
}

h5,
.h5 {
  &.#{$namespace}-prose {
    font-size: $hx-font-size-h5;
    font-weight: $hx-font-weight-bolder;
    margin-top: 1rem * 1.1;
    margin-bottom: 1rem * 0.25;
  }
}

h6,
.h6 {
  &.#{$namespace}-prose {
    font-size: $hx-font-size-h6;
    font-weight: $hx-font-weight-boldest;
    color: $hx-color-gray-lighter;
    text-transform: uppercase;
    letter-spacing: 0.01rem;
    margin-top: 1rem * 0.5;
    margin-bottom: 1rem * 0.5;
  }
}

p.#{$namespace}-prose {
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
}

// Headings
.#{$namespace}-prose {
  color: $hx-text;

  &.h1,
  &.h2,
  &.h3,
  &.h4,
  &.h5,
  &.h6 {
    font-family: $hx-headings-font-family;
    font-weight: $hx-headings-font-weight;
    line-height: $hx-headings-line-height;
    letter-spacing: $hx-headings-letter-spacing;
  }

  :where(h1),
  :where(h2),
  :where(h3),
  :where(h4),
  :where(h5),
  :where(h6),
  :where(.h1),
  :where(.h2),
  :where(.h3),
  :where(.h4),
  :where(.h5),
  :where(.h6) {
    // &:not(.hx-not-prose),
    &:not(:where([class~="hx-not-prose"] *)) {
      font-family: $hx-headings-font-family;
      font-weight: $hx-headings-font-weight;
      line-height: $hx-headings-line-height;
      letter-spacing: $hx-headings-letter-spacing;
    }
  }

  :where(h1):not(:where([class~="hx-not-prose"] *)),
  :where(.h1):not(:where([class~="hx-not-prose"] *)) {
    font-size: $hx-font-size-h1;
    font-weight: $hx-font-weight-bold;
    color: $hx-color-info;
    margin-bottom: 1rem * 1; // no top as h1 should only be used once
  }

  :where(h2):not(:where([class~="hx-not-prose"] *)),
  :where(.h2):not(:where([class~="hx-not-prose"] *)) {
    font-size: $hx-font-size-h2;
    margin-top: 1rem * 1.35;
    margin-bottom: 1rem * 0.75;
  }

  :where(h3):not(:where([class~="hx-not-prose"] *)),
  :where(.h3):not(:where([class~="hx-not-prose"] *)) {
    font-size: $hx-font-size-h3;
    font-weight: $hx-font-weight-bolder;
    color: $hx-color-info;
    margin-top: 1rem * 1.25;
    margin-bottom: 1rem * 0.5;
  }

  :where(h4):not(:where([class~="hx-not-prose"] *)),
  :where(.h4):not(:where([class~="hx-not-prose"] *)) {
    font-size: $hx-font-size-h4;
    font-weight: $hx-font-weight-bold;
    margin-top: 1rem * 1.1;
    margin-bottom: 1rem * 0.35;
  }

  :where(h5):not(:where([class~="hx-not-prose"] *)),
  :where(.h5):not(:where([class~="hx-not-prose"] *)) {
    font-size: $hx-font-size-h5;
    font-weight: $hx-font-weight-bolder;
    margin-top: 1rem * 1.1;
    margin-bottom: 1rem * 0.25;
  }

  :where(h6):not(:where([class~="hx-not-prose"] *)),
  :where(.h6):not(:where([class~="hx-not-prose"] *)) {
    font-size: $hx-font-size-h6;
    font-weight: $hx-font-weight-boldest;
    color: $hx-color-gray-lighter;
    text-transform: uppercase;
    letter-spacing: 0.01rem;
    margin-top: 1rem * 0.5;
    margin-bottom: 1rem * 0.5;
  }

  :where(p):not(:where([class~="hx-not-prose"] *)) {
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
  }

  // &:not(:last-child) {
  //   margin-bottom: 1.5rem;
  // }

  :where(dt):not(:where([class~="hx-not-prose"] *)) {
    font-weight: $hx-font-weight-bold;
  }

  :where(dd):not(:where([class~="hx-not-prose"] *)) {
    margin: 0;
  }

  :where(ol):not(:where([class~="hx-not-prose"] *)) {
    list-style: decimal outside;
    margin-left: 2em;
    margin-right: 2em;
    margin-top: 1em;
  }

  :where(ul):not(:where([class~="hx-not-prose"] *)) {
    list-style: disc outside;
    margin-left: 2em;
    margin-right: 2em;
    margin-top: 1em;

    ul {
      list-style-type: circle;
      margin-top: 0.5em;

      ul {
        list-style-type: square;
      }
    }
  }

  :where(p):not(:where([class~="hx-not-prose"] *)),
  :where(ol):not(:where([class~="hx-not-prose"] *)),
  :where(ul):not(:where([class~="hx-not-prose"] *)),
  :where(blockquote):not(:where([class~="hx-not-prose"] *)),
  :where(table):not(:where([class~="hx-not-prose"] *)) {
    &:not(:last-child) {
      margin-bottom: 1em;
    }
  }
}

.#{$namespace}-title {
  font-size: $hx-font-size-h1;
  font-weight: $hx-title-font-weight;
  margin: 0;

  & + .#{$namespace}-subtitle {
    margin-top: 0.5rem;
    color: $hx-color-gray-light;
  }
}

.#{$namespace}-subtitle {
  font-size: $hx-font-size-base;
  font-weight: $hx-subtitle-font-weight;
  margin-bottom: 1.5rem;
  line-height: 1.8rem;
}

.#{$namespace}-header {
  padding: 0.75rem 0.8rem;
  font-size: 0.675rem;
  color: #aeadad;
  white-space: nowrap;
  text-transform: uppercase;
  font-weight: bold;
  margin-bottom: 0;
  border-bottom: 1px solid rgba(0, 0, 0, 0.05);

  .#{$namespace}-icon {
    font-size: 12px;
    width: 1rem;
    height: 1rem;
    top: 1px;
    position: relative;
  }
}
