.scrollable-y{
  overflow-y:auto;
  -webkit-overflow-scrolling: touch;
}

.scrollable-x{
  overflow-x:auto;
  -webkit-overflow-scrolling: touch;
}

.scrollable{
  overflow:auto;
  -webkit-overflow-scrolling: touch;
}


.not-scrollable-y{
  overflow-y:initial !important;
}

.not-scrollable-x{
  overflow-x:initial !important;
}

.not-scrollable{
  overflow:initial !important;
}
