@use "sass:meta";

@use "../variables" as *;

@keyframes spin-around {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(359deg);
  }
}

@mixin loader($color: $hx-border-color) {
  @if meta.type-of($color) == "string" and string.slice($color, 1, 2) == "--" {
    border-color: var(#{$color});
  } @else {
    border-color: $color;
  }

  border-width: 2px;
  border-style: solid;
  animation: spin-around 500ms infinite linear;
  border-radius: 999px;
  border-right-color: transparent;
  border-top-color: transparent;
  content: "";
  display: block;
  height: 1em;
  position: relative;
  width: 1em;
}
