// =========
// Page
// =========

.#{$namespace}-page {
  @extend .#{$namespace}-flex;
  @extend .#{$namespace}-flex-column;

  height: 100vh;
  width: 100vw;

  &-header {
    width: 100%;
    min-height: 1rem;
    background: transparent;
  }

  &-body {
    @extend .#{$namespace}-flex;
    @extend .#{$namespace}-flex-1;
    @extend .#{$namespace}-flex-align-self-stretch;

    min-height: 0;
  }

  .block {
    @include block;
  }

  &.has-blue-gradient {
    @include radial-gradient(top, $hx-color-green-light, $hx-color-blue);

    color: #fff;
  }

  &.has-orange-gradient {
    @include radial-gradient(top, $hx-color-yellow-light, $hx-color-orange);
  }

  &.has-purple-gradient {
    @include radial-gradient(top, $hx-color-red-light, $hx-color-purple);
  }
}
