$sidebar-nav-hover-color: colour-gray-light;

.#{$namespace}-sidebar, .#{$namespace}-drawer {
  width: 17rem;
  height: 100%;
  max-height: calc(100% - 0px);
  display: block;
  top: 0;
  bottom: 0;
  transform: translateX(-100%);
  background-color: $color-gray-lightest;
  padding: $spacer 0;
  transition: .3s ease-in-out;
  box-shadow: inset -1px 0 0 0 rgba(0,0,0,.05);
  z-index: 1;

  &-bg {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background-color: rgba(0,0,0,.8);
  }

  &.is-absolute {
    position: absolute;
  }

  &.is-fixed {
    position: fixed;
  }

  &.is-right {
    right: 0;
    transform: translateX(100%);
    box-shadow: inset 1px 0 0 0 rgba(0,0,0,.05);
  }

  &.is-active {
    transform: translateX(0%);
  }

  .#{$namespace}-nav-vertical {
    .#{$namespace}-nav-item {
      padding-left: 1rem;
      padding-right: 1rem;
    }
  }

  &.is-medium-width {
    min-width: 15rem;
  }

  &.is-scrollable {
    overflow: scroll;
  }

  &.is-minified{
    width:($spacer * 3.5);
    .#{$namespace}-nav-vertical {
      .#{$namespace}-nav-item {
        padding-left: 0rem;
        padding-right: 0rem;
      }
    }
  }

  &.is-expanded {
    width:($spacer * 50);
    .#{$namespace}-nav-vertical {
      .#{$namespace}-nav-item {
        padding-left: 0rem;
        padding-right: 0rem;
      }
    }
  }

  &.has-blue-gradient{
    @include radial-gradient(top, $color-green-light, $color-blue);
    color:#fff;

    hr{
      border-top: 1px solid rgba(255,255,255, 0.2);
    }
  }

  &.has-orange-gradient{
    @include radial-gradient(top, $color-yellow-light, $color-orange);
    color:#fff;

    hr{
      border-top: 1px solid rgba(255,255,255, 0.2);
    }
  }

  &.has-purple-gradient{
    @include radial-gradient(top, $color-red-light, $color-purple);
    color:#fff;

    hr{
      border-top: 1px solid rgba(255,255,255, 0.2);
    }
  }
}
