@use "../variables" as *;

::-webkit-scrollbar {
  width: 9px;
  height: 9px;
}

::-webkit-scrollbar-thumb {
  background: rgba($hx-color-gray, 0.2);
  border-radius: 5px;

  &:hover {
    background: rgba($hx-color-gray, 0.3);
  }
}

::-webkit-scrollbar-track {
  background: 0 0;
  box-shadow: none;
  border-radius: 5px;
}
