// Avatars
//
.#{$namespace}-avatar {
  display: inline-block;
  min-height: 38px;
  min-width: 38px;
  background-size: cover;
  background-color: $color-gray-lightest;
  text-align: center;
  box-shadow: inset 0 0 0 1px rgba(0,0,0,.05);

  width: 48px;
  height: 48px;
  border-radius: 50%;
  line-height: 48px;
  font-weight: 500;
  font-size: 1.5rem;

  &.is-small {
    width: 30px;
    height: 30px;
    line-height: 40px;
    font-size: 1.2rem;

    &.has-icon {
      line-height: 42px;
      .hx-icon {
        font-size: 1.25rem;
      }
    }

  }

  &.is-large {
    width: 64px;
    height: 64px;
    line-height: 64px;
    font-size: 2rem;

    &.has-icon {
      line-height: 68px;
      .hx-icon {
        font-size: 2rem;
      }
    }

  }

  &.is-tile {
    border-radius: 0;
  }

  &.has-icon {
    line-height: 54px;
    .hx-icon {
      font-size: 1.65rem;
    }
  }
}
