.#{$namespace}-panel {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  height: 100%;

  .#{$namespace}-panel-header {
    flex: 0 0 auto;
    z-index: 80;
  }

  .#{$namespace}-panel-body {
    flex-grow:1;
    overflow-y: auto;
    z-index: 75;
    background-color: $hx-flex-accordion-bg-color;
    padding: 1rem;

    .#{$namespace}-panel-section {
      &.is-fill-to-edges {
        margin-left: -1rem;
        margin-right: -1rem;
      }
    }
  }


  .#{$namespace}-panel-footer {
    flex: 0 0 50px;
    border-top: none;
    background-color: rgba(0, 0, 0, 0.02);
  }

}
