///////////
// LABEL //
///////////

@use "../../variables" as *;
@use "../../mixins/text";
@use "../../functions/spacing";
@use "../../functions/size";

.#{$namespace}-label {
  @mixin label-control {
    font: var(--b2, inherit);
    font-weight: 500;
    color: var(--color-foreground-default);
    margin-bottom: spacing.rem(1);
    display: flex;
  }

  @mixin label-required {
    &::after {
      content: "*";
      color: var(--color-foreground-danger);
      padding-left: 3px;
    }
  }

  :where(.#{$namespace}-form-control) & {
    @include label-control;
  }

  /// REQUIRED
  :where(.#{$namespace}-form-control).required &,
  :where(.#{$namespace}-form-control):has(:required) &,
  &.required {
    @include label-required;
  }
}

//////////
// HELP //
//////////

.#{$namespace}-help {
  :where(.#{$namespace}-form-control) & {
    font: var(--b2, inherit);
    color: var(--color-foreground-subdued);
    margin: spacing.rem(1) spacing.px(2) 0;
    min-height: size.rem(20);
    display: flex;
  }

  /// INVALID
  :where(.#{$namespace}-form-control):has(.ng-invalid.ng-dirty:not(.disabled, [disabled])) &,
  :where(.#{$namespace}-form-control).invalid:not(:has(.disabled, [disabled])) & {
    color: var(--color-foreground-danger);
  }

  /// DISABLED
  :where(.#{$namespace}-form-control):has(.disabled, [disabled]) & {
    color: var(--color-foreground-muted);
  }
}
