////////////
//  CARD  //
////////////

@use "sass:map";

@use "../../variables" as *;

@use "../../functions/spacing";

@use "../../mixins/transition";
@use "../../mixins/state";
@use "../../mixins/context";
@use "../../mixins/size" as msize;
@use "../../mixins/deprecate" as *;

$component: "card";
$sizes: ("sm" "small", "md" "medium", "lg" "large");
$border-width-default: 1;

// TODO: tokens - BASE
// container - background-color, color, border-radius, border-width, border-color
// header - padding-x, padding-y, gap, min-height
// content - padding-x, padding-y
// footer - padding-x, padding-y, gap, min-height

// TODO: tokens - VARIANTS
// raised: hover, focus, active - box-shadow
// highlight: context - background; size - width

.#{$namespace}-card {
  background-color: $hx-color-white;
  border: 1px solid rgba($hx-color-black, 0.08);
  border-radius: 2px;
  color: $hx-text;
  max-width: 100%;
  position: relative;

  @include deprecate("3.0.0", "No longer part of HXUI") {
    .media:not(:last-child) {
      margin-bottom: 0.75rem;
    }
  }

  //////////////
  // Variants //
  //////////////

  // HOVERABLE
  &.raised {
    @include transition.shadows;

    @include state.hover {
      box-shadow: var(--shadow-global-sm);
    }

    @include state.focus {
      box-shadow: var(--shadow-global-md);
    }

    @include state.active {
      transform: scale(1.025);
      box-shadow: var(--shadow-global-lg);
    }
  }

  // STRIPPED
  &.is-border-highlighted,
  &.is-highlight,
  &.highlight {
    &::before {
      content: "";
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;

      // TODO: align with card-border-radius
      border-top-left-radius: 2px;
      border-bottom-left-radius: 2px;

      // default is success
      background-color: var(--color-surface-success-emphasis);

      // default is sm
      width: 4px;
    }

    @include deprecate("2.0.0", "Review size modifiers") {
      &.is-small::before {
        content: "";
        width: 2px;
      }

      &.is-medium::before {
        content: "";
        width: 12px;
      }

      &.is-large::before {
        content: "";
        width: 25px;
      }
    }

    /* stylelint-disable-next-line scss/dollar-variable-pattern */
    $_ctx: "success" "danger" "info" "warning" "caution";

    @each $c, $v in $_ctx {
      @include context.add($c, "-") {
        &::before {
          content: "";
          background-color: var(--color-surface-#{$c}-emphasis);
        }
      }
    }

    /* stylelint-disable-next-line scss/dollar-variable-pattern */
    $_sizes: ("sm" "small" 4px, "lg" "large" 8px);

    @each $short, $long, $value in $_sizes {
      @include msize.add($short, $long, "-") {
        &::before {
          content: "";
          width: #{$value};
        }
      }
    }
  }
}

/////////////////
// CARD HEADER //
/////////////////

.#{$namespace}-card-header {
  // border-bottom: 1px solid $hx-border-color;
  box-shadow: 0 1px 0 $hx-border-color;
  display: flex;
  align-items: center;
  padding: spacing.rem(2) spacing.px(4);
  gap: spacing.px(2);
  min-height: spacing.rem(12);
}

.#{$namespace}-card-header-start,
.#{$namespace}-card-header-main,
.#{$namespace}-card-header-end {
  gap: spacing.px(2);
}

.#{$namespace}-card-header-main {
  flex-grow: 1;
}

@include deprecate("3.0.0", "Use .h4 contained inside .hx-card-header-title") {
  .#{$namespace}-card-header-title {
    align-items: center;
    color: $hx-text-strong;
    display: flex;
    flex-grow: 1;
    font-weight: $hx-font-weight-normal;
    padding: 0.75rem 1.25rem;
  }
}

@include deprecate("3.0.0", "Use .hx-button for actions contained inside .hx-card-header-end") {
  .#{$namespace}-card-header-icon {
    align-items: center;
    cursor: pointer;
    display: flex;
    justify-content: center;
    padding: 0.75rem;
  }
}

.#{$namespace}-card-image {
  display: block;
  position: relative;
}

//////////////////
// CARD CONTENT //
//////////////////

// TODO: should also apply to card-header and card-footer,
// and be settable from card container
.#{$namespace}-card-content {
  padding: spacing.rem(4) spacing.px(4);

  @include deprecate("2.0.0", "Remove modifier") {
    &.has-padding-small {
      padding: 0.5rem;
    }

    &.has-padding-medium {
      padding: 1rem;
    }
  }
  @include deprecate("2.0.0", "Use .lg modifier") {
    &.has-padding-large {
      padding: 2.5rem;
    }
  }

  @include msize.add("sm", "small") {
    padding: 0;
  }

  @include msize.add("lg", "large") {
    padding: spacing.rem(6) spacing.px(6);
  }
}

@include deprecate("2.0.0", "Use .hx-button icon instead") {
  .#{$namespace}-card-icon {
    & > * {
      padding: 0.5rem 0 0.5rem 0.8rem;
    }
  }
}

/////////////////
// CARD FOOTER //
/////////////////

.#{$namespace}-card-footer {
  // border-top: 1px solid $hx-border-color;
  box-shadow: 0 -1px 0 $hx-border-color;
  display: flex;
  align-items: center;
  padding: spacing.rem(2) spacing.px(4);
  gap: spacing.px(2);
  min-height: spacing.rem(12);
}

@include deprecate("3.0.0", "No longer part of HXUI") {
  .#{$namespace}-card-footer-item {
    align-items: center;
    display: flex;
    flex: 1 0 0;
    justify-content: center;
    padding: 0.75rem;

    &:not(:last-child) {
      border-right: 1px solid $hx-border-color;
    }
  }
}
