////////////
// ICONS  //
////////////

@use "../../mixins/deprecate" as *;
@use "../../variables" as *;

@mixin icon-sm {
  font-size: 14px;
  width: 1.5rem;
  height: 1.5rem;
}

@mixin icon-md {
  font-size: 21px;
  width: 1.5rem;
  height: 1.5rem;
}

/// @usage nested inside .hx-button
/// lower specificity than
///
:where(.#{$namespace}-button) {
  .#{$namespace}-icon {
    @include icon-md;
  }

  &.is-medium,
  &.md {
    .#{$namespace}-icon {
      @include icon-md;
    }
  }

  &.is-small,
  &.sm {
    .#{$namespace}-icon {
      @include icon-sm;
    }
  }
}

.#{$namespace}-icon {
  display: inline-flex;
  justify-content: center;
  align-items: center;

  ///////////
  // Sizes //
  ///////////

  /// Size: Medium is default
  @include icon-md;

  @include deprecate("3.0.0", "Use .sm instead") {
    &.is-small {
      @include icon-sm;
    }
  }

  &.sm {
    @include icon-sm;
  }

  &.md {
    @include icon-md;
  }

  @include deprecate("3.0.0", "Use custom css") {
    &.is-medium {
      font-size: 28px;
      width: 2rem;
      height: 2rem;
    }
  }

  @include deprecate("3.0.0", "Use custom css") {
    &.is-large {
      font-size: 42px;
      width: 3rem;
      height: 3rem;
    }
  }
}

@include deprecate("3.0.0", "Use .hx-icon") {
  .icon {
    font-size: 21px;

    &.is-small {
      font-size: 14px;
    }

    &.is-medium {
      font-size: 28px;
    }

    &.is-large {
      font-size: 42px;
    }
  }
}
