
.#{$namespace}-table {
  background-color: $hx-table-background;
  color: $hx-table;
  margin-bottom: 1.5rem;
  width: 100%;

  > tbody > tr > td.is-text-ellipsed,
  > thead > tr > th.is-text-ellipsed {
    max-width: 0;
  }

  > thead {
    > tr > th {
      vertical-align: bottom;
      border: 1px solid $hx-color-gray-lighter;
      border-width: 0 0 1px;
      color: $hx-table-head;

      text-transform: uppercase;
      font-size: $hx-font-size-sm;

      .hx-icon {
        font-size: .75rem;
        height: .75rem;
        width: .75rem;
        line-height: .75rem;
      }

      a {
        cursor: pointer;
        &:link, &:visited, &:active {
          color: $hx-color-info;
        }
        &:hover {
          text-decoration: none;
          color: lighten($hx-color-info, 20%);
        }
      }
    }
    > tr > th > .hx-checkbox-control {
      margin-bottom: -3px !important;
      > .hx-checkbox + label {
        padding-top: 5px !important;
        font-weight:  $hx-font-weight-boldest !important;
        text-transform: uppercase;
        font-size: .8rem;
      }
    }
  }

  > tfoot {
    > tr > td,
    > tr > th {
      vertical-align: top;
      border: 2px solid $hx-table-border;
      border-width: 2px 0 0;
      color: $hx-table-head;
      font-weight: $hx-font-weight-bolder;
      padding: 0.9em 0.75em;
    }
    > tr > th {
      padding: 1.3em 0.75em;
      font-weight: $hx-font-weight-boldest;
      font-size: $hx-font-size-xs;
      text-transform: uppercase;
    }
    > tr > td.has-text-field {
      > input[type=text] {
        margin: 0;
        padding: .6rem;
        border-radius: .2rem;
        border: 1px solid #d0d2d2;
        -webkit-box-shadow: none;
        box-shadow: none;
        -webkit-transition: .3s;
        transition: .3s;
        font-weight: $hx-font-weight-bolder;
      }

      &.is-danger > input[type=text],
      &.is-warning > input[type=text],
      &.is-info > input[type=text],
      &.is-success > input[type=text]{
        background-color:#fff;
      }
    }
  }



  > tbody:not(.hx-table-group) > tr > td,
  > tbody:not(.hx-table-group) > tr > th{
    border-bottom:1px solid $hx-table-border;
  }

  > tbody:not(.hx-table-group) > tr > td,
  > tbody:not(.hx-table-group) > tr > th,
  > thead > tr > th {
    padding: 0.9em 0.75em;
    font-weight:  $hx-font-weight-bolder;
    @include transition (.3s);
    strong {
      font-weight: $hx-font-weight-boldest;
    }

    // Modifiers
    &.is-narrow {
      white-space: nowrap;
      width: 1%;
    }
  }

  > tbody > tr > td,
  > tbody > tr > th,
  > thead > tr > th {
    .hx-checkbox-control {
      margin: 0;
      .hx-checkbox + .hx-label {
        padding-top: 2px;
        display: initial;
        font-weight: $hx-font-weight-normal;
      }
    }
  }

  > thead > tr > th {
    .hx-checkbox-control {
      margin-left: 0.18rem;
    }
  }

  // Always striped
  > tbody:not(.hx-table-group) {
    > tr:not(.is-selected):not(.is-danger):not(.is-warning):not(.is-success):not(.is-info) {
      &:nth-child(even) {
        > th, > td {
          background-color: $hx-table-row-even-background;
        }
      }
    }
  }

  // Groups
  > tbody.hx-table-group > tr > td,
  > tbody.hx-table-group > tr > th {
    @include transition (.3s);
    font-weight: $hx-font-weight-bold;
    background-color: #fff;
    padding: .9rem 0.75em;
    border-top: 1px solid #e5e5e5;
    text-transform: uppercase;
    color: $hx-color-info;

    > div {
      display: flex;
      align-items: center;
      width:100%;
      color: $hx-color-info;
       > small {
         flex: 1;
         margin-left: 1rem;
      }
    }
  }

  &.is-narrow{
    > tbody.hx-table-group > tr > th {
      padding: .6rem 0.5em;
    }
    > thead > tr > th .hx-checkbox-control {
      margin-left: 0.09rem;
    }
  }

  > tbody.hx-table-group {
    box-shadow: 0 0 8px 0 rgba(0,0,0,.03), 0 4px 8px 0 rgba(0,0,0,.03);
  }

  > thead + tbody.hx-table-group{
    > tr > td,
    > tr > th {
      border-top: transparent;
    }
  }

  > tbody > tr > td,
  > tbody > tr > th {
    border-color: $hx-table-border;
  }

  > thead > tr > th {
    padding: 0.6em 0.75em;
    font-weight: $hx-font-weight-boldest;
    font-size: $hx-font-size-xs;
  }

  > thead > tr,
  > tbody:not(.hx-table-group) > tr {
    &.is-selected, &.is-selected:hover {
      > th, > td {
       // background-color: $hx-color-primary;
       // background-color: rgba(0,0,0,.02);
      }
      > th,
      > td,
      > th a:not(.hx-dropdown-item),
      > td a:not(.hx-dropdown-item) {
        color: $hx-color-primary;
        .hx-button .hx-icon,
        .hx-button .icon{
          color: $hx-color-primary;
        }

        .hx-checkbox + .hx-label:after{
          border-color:$hx-color-primary;
        }
      }
    }
  }

  > tbody {
    > tr {
      &:last-child {
        > td,
        > th {
          border-bottom-width: 0;
          color: $hx-text;
        }
      }
    }
  }

  // Modifiers
  // &.is-bordered {
  //   border: 1px solid $hx-table-border;
  //   td,
  //   th {
  //     border-width: 0 1px 1px 0;
  //     &:last-child {
  //       border-right-width: 0;
  //     }
  //   }
  //   thead {
  //     td,
  //     th {
  //       border-bottom-width: 2px;
  //     }
  //   }
  // }

  &.is-narrow {
    > tbody > tr {
      > td {
        padding: 0.25em 0.5em;
      }
    }
    > thead > tr {
      > th {
        padding: 0.3em 0.5em;
      }
    }
  }

  &.is-hover {
    > tbody:not(.hx-table-group) {
      > tr:not(.is-selected) {
        &:hover {
           > td {
            background-color: $hx-table-row-even-hover-background !important;
             cursor: pointer;
          }
        }
      }
    }
  }

  > tbody > tr{
    &.is-danger{
      > td,
      > th{
        color: $hx-color-danger;
        div,span {color: $hx-color-danger;}
      }
      > td{
        background-color: rgba($hx-color-danger, 0.1);
      }
    }
    &.is-warning{
      > td,
      > th{
        color: $hx-color-warning;
       > div, > span:not(.hx-badge) {color: $hx-color-warning;}
      }
      > td {
        background-color: rgba($hx-color-warning, 0.1);
      }
    }
    &.is-success{
      > td,
      > th{
        color: $hx-color-success;
        div,span {color: $hx-color-success;}
      }
      > td {
        background-color: rgba($hx-color-success, 0.1);
      }
    }
    &.is-info{
      > td,
      > th{
        color: $hx-color-info;
        div,span {color: $hx-color-info;}
      }
      > td {
        background-color: rgba($hx-color-info, 0.1);
      }
    }

    &.has-stripe-info {
      @include table-stripe($hx-color-info);
    }

    &.has-stripe-success {
      @include table-stripe($hx-color-success);
    }

    &.has-stripe-warning {
      @include table-stripe($hx-color-warning);
    }

    &.has-stripe-danger {
      @include table-stripe($hx-color-danger);
    }



    > td {
      &.has-text-field {
        padding: .25rem;
        > input[type="text"] {
          margin: 0;
          padding: .6rem;
          border-radius: .2rem;
          border: 1px solid lighten($hx-text, 65%);
          box-shadow: none;
          transition: .3s;
          &::-webkit-input-placeholder { /* Chrome/Opera/Safari */
            color: lighten($hx-text, 60%);
          }
          &::-moz-placeholder { /* Firefox 19+ */
            color: lighten($hx-text, 60%);
          }
          &:-ms-input-placeholder { /* IE 10+ */
            color: lighten($hx-text, 60%);
          }
          &:-moz-placeholder { /* Firefox 18- */
            color: lighten($hx-text, 60%);
          }
          &:focus {
            background-color: rgba(255,255,255,.5);
            box-shadow: inset 0 0 0 1px lighten($hx-text, 65%), inset 0 0 3px 1px rgba(0,0,0,.1);
          }
        }
      }
    }
  }

  > tbody > tr > td,
  > tfoot > tr > td {
    &.is-danger {
      background-color: rgba($hx-color-danger, 0.1);
      color: $hx-color-danger;
    }
    &.is-warning {
      background-color: rgba($hx-color-warning, 0.1);
      color: $hx-color-warning;
    }
    &.is-success {
      background-color: rgba($hx-color-success, 0.1);
      color: $hx-color-success;
    }
    &.is-info {
      background-color: rgba($hx-color-info, 0.1);
      color: $hx-color-info;
    }
  }
}
