/* stylelint-disable scss/at-mixin-pattern */

////////////////
//  METADATA  //
////////////////

@use "../../variables" as *;

@use "../../functions/size";
@use "../../functions/spacing";

@use "../../mixins/deprecate" as *;

/// CONTAINER
@include deprecate("3.0.0", "Use .hx-stat") {
  .#{$namespace}-metadata {
    display: inline-flex;
    flex-direction: column;
    width: 100%;
  }
}

.#{$namespace}-stat {
  display: inline-flex;
  flex-direction: column;
  width: 100%;
}

/// LABEL
.#{$namespace}-stat__label {
  @include deprecate("3.0.0", "Use .hx-stat__label") {
    :where(.#{$namespace}-metadata) & {
      font: var(--b3);
      color: var(--color-foreground-muted);
      margin: 0;
    }

    :where(.#{$namespace}-metadata):not(.alternate) & {
      font-weight: 500;
      text-transform: uppercase;
    }

    :where(.#{$namespace}-metadata).alternate & {
      font: var(--b2);
      line-height: size.rem(16);
    }
  }

  // above repeated for preferred naming
  :where(.#{$namespace}-stat) & {
    font: var(--b3);
    color: var(--color-foreground-muted);
    margin: 0;
  }

  :where(.#{$namespace}-stat):not(.alternate) & {
    font-weight: 500;
    text-transform: uppercase;
  }

  :where(.#{$namespace}-stat).alternate & {
    font: var(--b2);
    line-height: size.rem(16);
  }
}

@mixin _data {
  font: var(--b1);
  color: var(--color-foreground-default);
  display: flex;
  align-items: center;
  gap: spacing.px(2);
  margin: 0;

  > :where(span, div):not(:where(.#{$namespace}-icon-control, .#{$namespace}-icon-container, .#{$namespace}-icon, .icon, .#{$namespace}-badge)) {
    font: inherit;
    color: inherit;
  }
}

/// DATA VALUE
@include deprecate("3.0.0", "Use .hx-data inside .hx-stat") {
  .#{$namespace}-value {
    :where(.#{$namespace}-metadata) & {
      @include _data;
    }

    :where(.#{$namespace}-metadata).alternate & {
      font-weight: 500;
    }
  }
}

.#{$namespace}-stat__data {
  :where(.#{$namespace}-stat) & {
    @include _data;
  }

  :where(.#{$namespace}-stat).alternate & {
    font-weight: 500;
  }
}
